<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About me</h4>
    <p>I'm a Full stack developer experienced in Rails and React. Building sites & supporting SaaS app for 170+ clients. Love Linux, adore Docker.</p>
  </div>
  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="#" <%= fa_icon "github" %></a></li>
      <li><a href="#" <%= fa_icon "facebook" %></a></li>
      <li><a href="#" <%= fa_icon "twitter" %></a></li>
    </ol>
  </div>
</div>