<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "profile.jpg", width: 300, alt: "profile image" %>
  </div>

  <div class="col-md-8">
    <p>I'm a Full stack developer experienced in Rails and React. Building sites & supporting SaaS app for 170+ clients. Love Linux, adore Docker.</p>
  </div>
</div>