<div class="container about">
  <h1>About Me</h1>
  <div class="row">
    <div class="col-md-4">
      <%= image_tag "profile.jpg", width: 300, alt: "profile image" %>
    </div>

    <div class="col-md-8">
      <p>I'm a Full stack developer experienced in Rails and React. Building sites & supporting SaaS app for 170+ clients. Love Linux, adore Docker.</p>

      <p>
        <button
          class="btn btn-primary"
          type="button"
          data-toggle="collapse"
          data-target="#jobHistory"
          aria-expanded="false"
          aria-controler="jobHistory"
        >
          Job History
        </button>

        <button
          class="btn btn-primary"
          type="button"
          data-toggle="collapse"
          data-target="#education"
          aria-expanded="false"
          aria-controler="education"
        >
          Education
        </button>
      </p>

        <div class="collapse" id="jobHistory">
          <div class="card card-block">
            Job 1
          </div>
          <div class="card card-block">
            Job 2
          </div>
        </div>

        <div class="collapse" id="education">
          <div class="card card-block">
            School 1
          </div>
          <div class="card card-block">
            School 2
          </div>
          <div class="card card-block">
            School 3
          </div>
        </div>
    </div>
  </div>
</div>
