<h1>Would you like to work together?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Office Address</h3>

    <p>Gorshkova Prospekt, 6Б, Rostov-on-Don, Rostov Oblast, 344016</p>

    <h3>Phone</h3>

    <p><a href="tel:+79081992725"><%= number_to_phone(9081992725, country_code: 7) %></a></p>

    <h3>Email</h3>

    <p><a href="mailto:trymental@gmail.com?subject=PortfolioContact">Email Me</a> </p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1353.9050895507726!2d39.64161575833856!3d47.25941499479078!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40e3c778ad30c4ad%3A0x94aa36e38c1ac32a!2sGorshkova%20Prospekt%2C%206%D0%91%2C%20Rostov%2C%20Rostovskaya%20oblast&#39;%2C%20344016!5e0!3m2!1sen!2sru!4v1603717097167!5m2!1sen!2sru" width="450" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>
</div>